@page "/targetversion/{Code}"
@rendermode InteractiveServer

<style>
    div.mainContainer{
        margin: 1px;
        width:82%;
        overflow: auto;
    }
    div.mycontainer {
        width:100%;
        overflow:auto;
    }
    div.mycontainer div {
        width:250px;  
        float:left;
        margin: 10px;
    }


.custom-data-grid {
    /* Add your custom styles here */
    background-color: lightgray;
    color: white;
    /* Add any other styles you want to customize */
}
.custom-data-grid-row:hover {
    background-color: rgb(77, 204, 247); /* Add your desired background color */
    color: white; /* Add your desired text color */
    /* Add any other styles you want to apply on hover */
}
fluent-data-grid-row:hover{
        background-color: rgb(65, 64, 64);
}

</style>

<h3>Application Name</h3>

@if (Application == null)
{
    <a>Loading...</a>
}
else
{
    <div>
        <div class="mycontainer">
            <div>
                <div>
                    <FluentCombobox Items="@Application.Environments" 
                                    Label="Environments" 
                                    OptionValue="@(i => i.Name.ToString())"
                                    @bind-SelectedOption=@Environment
                                    Height="200px"
                                    Style="position: fixed; z-index: 6;">
                        <OptionTemplate>
                            @context.Name
                        </OptionTemplate>
                    </FluentCombobox>
                </div>
                <div style="margin-top: 30px;">
                    <FluentCombobox Items="@TargetVersions" 
                                    Label="Target version" 
                                    OptionValue="@(i => i.DisplayValue())"
                                    @bind-SelectedOption=@TargetVersion
                                    Height="200px"
                                    Style="position: fixed; z-index: 5;">
                        <OptionTemplate>
                            @context.DisplayValue()
                        </OptionTemplate>
                    </FluentCombobox>
                </div>
            </div>   
            <div>
                <FluentListbox style="height: auto;" 
                               Items="@TargetVersions" 
                               OptionValue="@(i =>i.DisplayValue())"
                               @bind-SelectedOption=@TargetVersion
                               Label="Deploy Parameters">
                        <OptionTemplate>
                            <FluentCheckbox Label="@context.DisplayValue()"></FluentCheckbox>
                        </OptionTemplate>
                </FluentListbox>
            </div>
            
        </div>   
            <div>
                <FluentSplitter>
                    <Panel1>
                        <div style="margin: 10px; min-width: 400px; outline: 1px solid grey;">
                            <FluentDataGrid Items="@TargetVersions2" 
                                            GridTemplateColumns="0.2fr 0.5fr 0.5fr"
                                            >
                                <PropertyColumn Property="@(p=>p.Major)" Sortable="true" Tooltip="true" Align="Align.Start"></PropertyColumn> 
                                <PropertyColumn Property="@(p=>p.Minot)" Sortable="true"></PropertyColumn> 
                                <PropertyColumn Property="@(p=>p.Build)" Sortable="true"></PropertyColumn> 
                            </FluentDataGrid>
                        </div>    
                    </Panel1>
                    <Panel2>
                        <div>
                           <FluentDataGrid Items="@DeployedVersion" Style="margin: 10px; overflow:auto; width: 400px; outline: 1px solid grey;" GridTemplateColumns="1fr 1fr 1fr" >
                                <PropertyColumn Property="@(p=>p.Environment)" Sortable="true"></PropertyColumn> 
                                <PropertyColumn Property="@(p=>p.Version)" Sortable="true"></PropertyColumn> 
                                <PropertyColumn Property="@(p=>p.Status)" Sortable="true"></PropertyColumn> 
                            </FluentDataGrid>
                        </div>    
                    </Panel2>
                </FluentSplitter> 
                
            </div>
    </div>

 
    


    
}