@page "/targetversion/{Code}"
@rendermode InteractiveServer



@if (Application == null)
{
    <FluentProgressRing>Loading...</FluentProgressRing>
}
else
{
    <div>
        <div class="row">
            <FluentButton class="actionButton" IconStart="@(new Icons.Filled.Size48.Play())"  Title="Deploy"></FluentButton>
            <FluentButton class="actionButton" IconStart="@(new Icons.Filled.Size48.History())" Title="History"></FluentButton>
            <FluentButton class="actionButton" IconStart="@(new Icons.Filled.Size48.Add())" Title="Add New Version"></FluentButton>
            <FluentButton class="actionButton" IconStart="@(new Icons.Filled.Size48.Delete())" Title="Delete version"></FluentButton>
            <FluentButton class="actionButton" IconStart="@(new Icons.Filled.Size48.ArrowClockwise())" Title="Refresh"></FluentButton>
        </div>
        <h3 style="padding-left: 10px;">Target versions</h3>
        <div class="mycontainer">
            <div>
                <div>
                    <FluentCombobox Items="@Application.Environments"
                                    Label="Environments"
                                    OptionValue="@(i => i.Name.ToString())"
                                    @bind-SelectedOption=@Environment
                                    Height="200px"
                                    Style="position: fixed; z-index:20;">
                        <OptionTemplate>
                            @context.Name
                        </OptionTemplate>
                    </FluentCombobox>
                </div>
                <div style="margin-top: 30px;">
                    <FluentCombobox Items="@TargetVersions"
                                    Label="Versions"
                                    OptionValue="@(i => i.DisplayValue())"
                                    @bind-SelectedOption=@TargetVersion
                                    Height="200px"
                                    Style="position: fixed; z-index: 19;">
                        <OptionTemplate>
                            @context.DisplayValue()
                        </OptionTemplate>
                    </FluentCombobox>
                </div>
            </div>
            <div>
                <fieldset>
                <legend >Deploy parameters</legend>
                <FluentListbox Items="@TargetVersions"
                               OptionValue="@(i => i.DisplayValue())"
                               @bind-SelectedOption=@TargetVersion
                               >
                    <OptionTemplate>
                        <FluentCheckbox Label="@context.DisplayValue()"></FluentCheckbox>
                    </OptionTemplate>
                </FluentListbox>
                </fieldset>
            </div>

        </div>
        <div>
            <FluentSplitter Orientation="Orientation.Horizontal" Panel1Size="65%">
                <Panel1 >
                    <div>
                        <fieldset>
                        <legend>Target version to Deploy</legend>
                        <div>
                            <FluentDataGrid Items="@TargetVersions2" GridTemplateColumns="0.5fr 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.3fr ">
                                <PropertyColumn Property="@(p => p.Major)" Title="Name" Sortable="true" Tooltip="true" Align="Align.Center"></PropertyColumn>
                                <TemplateColumn Align="@Align.Center" Title="Deployble" Sortable="true">
                                   <FluentCheckbox ReadOnly="true"></FluentCheckbox>
                                </TemplateColumn>
                                <PropertyColumn Property="@(p => p.Major)" Title="Author" Sortable="true" Tooltip="true" Align="Align.Center"></PropertyColumn>
                                <PropertyColumn Property="@(p => p.Major)" Title="Revision" Sortable="true" Tooltip="true" Align="Align.Center"></PropertyColumn>
                                <PropertyColumn Property="@(p => p.Major)" Title="Time" Sortable="true" Tooltip="true" Align="Align.Center"></PropertyColumn>
                                <PropertyColumn Property="@(p => p.Minot)" Title="Sourth Path" Sortable="true" Align="Align.Center"></PropertyColumn>
                                <TemplateColumn Align="@Align.Center" Title="Mark Bild" Sortable="true" >
                                   <FluentCheckbox></FluentCheckbox>
                                </TemplateColumn>
                            </FluentDataGrid>
                        </div>
                    </fieldset>
                    </div>
                </Panel1>
                <Panel2>
                    <div>
                        <fieldset>
                        <legend>Deployed version per environment</legend>
                        <FluentDataGrid Items="@DeployedVersion" GridTemplateColumns="1fr 1fr 1fr">
                            <PropertyColumn Property="@(p => p.Environment)" Title="Evnironment" Align="Align.Center"></PropertyColumn>
                            <PropertyColumn Property="@(p => p.Version)" Title="Version" Align="Align.Center"></PropertyColumn>
                            <PropertyColumn Property="@(p => p.Status)" Title="DateTime" Align="Align.Center"></PropertyColumn>
                            <PropertyColumn Property="@(p => p.Status)" Title="Status" Align="Align.Center"></PropertyColumn>
                            <TemplateColumn Align="@Align.Center" Title="Mark Version">
                                   <FluentCheckbox></FluentCheckbox>
                                </TemplateColumn>
                        </FluentDataGrid>
                        </fieldset>
                    </div>
                </Panel2>
            </FluentSplitter>

        </div>
    </div>

}